@model Booking.Services.EmailModels.AccountRegisteredNotificationModel 

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Welcome</title>
</head>
<body>
    <p>
        Hi @Model.Name,
    </p>
<p>
    Your account was removed from our <a href="http://softheme-booking.azurewebsites.net/">our awesome site</a>!
</p>

    <p>AudienceBooking</p>

</body>
</html>  