@model Booking.Services.EmailModels.EventCancellModel

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>EventCancelled</title>
</head>
<body>
    <p>
        Hi,
    </p>
<p>
    @Model.EventDateTime @Model.EventTitle event is cancelled,
</p>
<p>
    see more information in<a href="http://softheme-booking.azurewebsites.net/">our awesome site</a>
</p>
    
    <p>AudienceBooking</p>

</body>
</html>  