@model Booking.Services.EmailModels.EventCancelledAuthorModel

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>EventEdited</title>
</head>
<body>
    <p>
        Hi, 
    </p>
<p>
    Event @Model.Title (Date: @Model.OldDate) was edited to new date: @Model.NewDate
</p>
<p>
    see more information in<a href="http://softheme-booking.azurewebsites.net/">our awesome site</a>
</p>
    
    <p>AudienceBooking</p>

</body>
</html>  