@model Booking.Services.EmailModels.EventEditedAuthorNotificationModel

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Event edit author notification</title>
</head>
<body>
    <p>
        Hi, @Model.Name
    </p>
<p>
    Your @Model.Title (Date: @Model.OldDate) event is edited for (new Date: @Model.NewDate),
</p>
<p>
    see more information in<a href="http://softheme-booking.azurewebsites.net/">our awesome site</a>
</p>
    
    <p>AudienceBooking</p>

</body>
</html>  