@model Booking.Services.EmailModels.SendFeedbackToAdminsModel

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Feedback</title>
</head>
<body>
    <p>
         @Model.Message
    </p>

    <p>@Model.Name</p>
    <p>@Model.UserEmail</p>
</body>
</html>  