@model Booking.Web.ViewModels.Event.DisplayEventViewModel

<div class="event-display-popup">
    Hello, world
    <button id="close-popup-@Model.Id">Close</button>
    <a href="@Url.Action("Index", "Event", new {eventId = Model.Id})">event page</a>
</div>
