@model Booking.Web.ViewModels.ScheduleTableViewModel

<div id="schedule-table">
    <table id="schedule-rooms-column">
        <tr>
            <th></th>
        </tr>
        @foreach (string name in Model.AvailableAudiences.Names.Values)
        {
            <tr>
                <td>@name</td>
            </tr>
        }
    </table>
    <div id="schedule-viewport">
        <table id="schedule-contents-table">
            <tr>
                @for (int hour = Model.LowerHourBound; hour <= Model.UpperHourBound; ++hour)
                {
                    <th>@string.Format("{0}:00", hour.ToString("D2"))</th>
                }
            </tr>
            @foreach (string name in Model.AvailableAudiences.Names.Values)
            {
                <tr>
                    @for (int hour = Model.LowerHourBound; hour <= Model.UpperHourBound; ++hour)
                    {
                        <td></td>
                    }
                </tr>
            }
        </table>
    </div>
</div>