@model Booking.Web.ViewModels.Audience.AudiencesNamesViewModel

<div id="schedule-table">
    <table id="schedule-rooms-column">
        <tr>
            <th>fdg</th>
        </tr>
        <tr>
            <td>DD</td>
        </tr>
        <tr>
            <td>DD</td>
        </tr>
    </table>
    <div id="schedule-viewport">
        <table id="schedule-contents">
            <tr>
                <th>12:00</th>
                <th>13:00</th>
            </tr>
            <tr>
                <td>DD</td>
                <td>DD</td>
            </tr>
            <tr>
                <td>DD</td>
                <td>DD</td>
            </tr>
        </table>
    </div>
</div>