@using Booking.Web.Localization
@using Booking.Web.ViewModels.Profile
@using Microsoft.AspNet.Identity
@model Booking.Web.ViewModels.Profile.UserInfoViewModel


    
        <H3 style="padding: 20px 0px">@Model.Name @if (Model.IsProfileAdmin){<sup class="admin-sup">admin</sup>}</H3>
        <p><b>Email:</b> @Model.Email</p>
        <p><b>@Localization.NumberOfActiveEvent:</b> @Model.ActiveEventsCount</p>
        @using (Ajax.ActionLink ("Edit", "Profile",new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "user-info-partial" }))
        {

         <input type="submit" id="change" value=@Localization.Change class="profile-submit" />
        }




