@model Booking.Web.ViewModels.ImageUploadVm

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @using (Html.BeginForm("UploadAsync", "ImageUpload", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div>
            @Html.LabelFor(x => x.File)
            @Html.TextBoxFor(x => x.File, new {type = "file"})
            @Html.ValidationMessageFor(x => x.File)
        </div>
        <button type="submit">Upload</button>
    }
</div>
</body>
</html>