#datepicker {
    margin: 5px 0 28px 0;
    display: inline-block;
}

#datepicker-container {
    display: inline-block;
    margin-left: 60px;
}

#datepicker-container .fa { font-size: 26px; }

#datepicker .prev,
#datepicker .next { /*visibility: hidden !important; */ }