#route-img {
    z-index:100;
    position: absolute;
    top: 210px;
    left: 22px;
}

.newton-tesla-english-top-fix {
    top: 225px !important;
}

.web-2-top-fix {
    top: 180px !important;
}

.event-container {
    background:white;
    height:100%;
    padding-top: 20px;
    padding-bottom:50px;
}

.fa-user{
    font-size:20px;
}

#author-name {
    margin-left:5px;
}

#join-event-form{
    display:inline-block;
    padding-left:50px;
}

#email {
    display:inline-block;
    border: 2px solid #F4F6FB;
    border-radius: 50px;
    background: white;
    margin-left: 10px;
    outline: none;
    height: 35px;
    font-size: 13px;
    padding: 15px;
    width: 260px;
}

input[type="submit"] {
    width:0;
    visibility:hidden;
}

.fa-plus {
    visibility: hidden;
    font-size: 18px;    
    vertical-align: middle;
    color:#9FA6B6;
}

.fa-plus:hover{
    color:black;
    cursor:pointer;
}

.join-event-container {
    display: inline-block;
}

.validation-error {
    display: block;
    margin-left: 20px;
    font-size: 11px;
}

.validation-error i {
    color: #f95752;
}
