#route-img {
    z-index: 100;
    position: absolute;
}

.newton-tesla-english-top-fix { top: 225px !important; }

.web-2-top-fix { top: 180px !important; }

.event-container {
    background: white;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.fa-user { font-size: 20px; }

#author-name { margin-left: 5px; }

.join-event-form {
    display: inline-block;
    overflow: visible;
    white-space: nowrap;
}

.join-event-form-email, .text-input {
    display: inline-block;
    border: 2px solid #F4F6FB;
    border-radius: 25px;
    background: white;
    outline: none;
    height: 35px;
    font-size: 13px;
    padding: 15px;
    width: 260px;
    margin: 10px;
}

.text-area {
    border: 2px solid #F4F6FB;
    border-radius: 15px;
    outline: none;
    font-size: 13px;
    margin: 10px;
    padding: 15px;
    background: white;
    height: auto;
    width: 100%;
    resize: none;
}

.join-event-submit, .remove-participant-submit {
    width: 0;
    visibility: hidden;
}

.join-event-form .fa-plus, .join-event-form .fa-times {
    font-size: 18px;
    vertical-align: middle;
    color: #9FA6B6;
}

.join-event-form .fa-plus:hover, .join-event-form .fa-times:hover {
    color: #828A9D;
    cursor: pointer;
}

.fa-plus.join-disabled:hover {
    color: #9FA6B6 !important;
    cursor: default !important;
}

.join-event-form .fa-times {
    visibility: hidden;
    font-size: 22px;
}

.join-event-container { display: inline-block; }

.validation-error {
    display: block;
    margin-left: 20px;
    font-size: 11px;
}

.validation-error i { color: #f95752; }

.participant-email-li {
    font-size: 26px;
    padding-left: 0;
}

.participant-email-li span { font-size: 14px; }

.participant-email-li .fa-times { color: #9FA6B6; }

.participant-email-li:hover .fa-times { visibility: visible; }

.participant-email-li .fa-times:hover {
    color: #828A9D;
    cursor: pointer;
}

.remove-participant-form, .remove-participant-submit {
    display: inline;
    height: 0;
    visibility: hidden;
}

#event-info {
    vertical-align: top;
    width: 100%;
}

#event-calendar {
    float: right;
    vertical-align: top;
    width: 280px;
}

.event-date-container {
    margin-top: 5px;
    background: #f95752;
    border-radius: 16px;
    height: 60px;
    padding: 15px 10px;
}

.event-date-container span,
.event-date-container i,
.event-date-container .fa-calendar,
.event-date-container .fa-clock-o {
    color: white;
    vertical-align: middle;
    margin: 0 3px;
}

.fa-calendar, .fa-clock-o {
    font-size: 30px;
    opacity: 0.7;
}

.event-title {
    font-size: 24px;
    margin-bottom: 20px;
}

p { margin-top: 20px; }

.participants-container { margin-top: 20px; }

.icons-container {
    padding: 25px 60px;
    font-size: 26px;
    color: #9FA6B6;
}

.icons-container i {
    margin: 0 10px;
    padding: 10px 0px;
}

.icons-container i:hover {
    color: #828A9D;
    cursor: pointer;
}

#edit-buttons-container { text-align: center; }

#edit-buttons-container button, #btn-save-event {
    border: 0;
    border-radius: 20px;
    background: #D7D9DE;
    margin: 0 auto;
    outline: none;
    display: inline;
    height: 30px;
    color: #656d7f;
    font-size: 13px;
    padding: 0 20px;
    margin: 0 4px;
    min-width: 120px;
}

#edit-buttons-container button:hover {
    background-color: #828a9d;
    color: white;
}

#btn-save-event {
    background: #f95752;
    color: white;
}

#btn-save-event:hover { background: #E94944; }


.buttons-container {
    height: 200px;
    background-color: white;
    padding: 0 200px;
}

.link-btn-container {
    vertical-align: top;
    align-self: center;
    display: inline-block;
    width: 200px;
    margin: 50px 100px 0;
    text-align: center;
    height: 120px;
}

.link-btn-container:hover { cursor: pointer; }

.btn-squares {
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.square {
    border-radius: 3px;
    display: inline-block;
    background: #4A5158;
    margin: 2px;
    height: 30px;
    width: 30px;
}

.square-red { background: #f95752; }

.link-buttons { text-align: center; }

#btn-save-event { background: #f95752; }

.col-md-8, .col-md-4 { padding: 0; }

#event-info { overflow-x: visible; }

#event-title-edit { width: 425px; }

.audience-not-free-message {
    width: 100%;
    height: 40px;
    margin-top: 6px;
    visibility: hidden;
}

.audience-not-free-message i {
    float: left;
    font-size: 40px;
    opacity: 0.8;
    color: #4A5158;
    margin-right: 8px;
}

.audience-not-free-message div {
    vertical-align: top;
    font-size: 13px;
    display: inline;
}

#cancel-event-popup {
        width: 402px;
    border: 1px solid #9fa6b6;
    background: #FFF;
}