#route-img {
    z-index: 100;
    position: absolute;
    top: 210px;
    left: 22px;
}

.newton-tesla-english-top-fix { top: 225px !important; }

.web-2-top-fix { top: 180px !important; }

.event-container {
    background: white;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.fa-user { font-size: 20px; }

#author-name { margin-left: 5px; }

#join-event-form {
    display: inline-block;
    padding-left: 30px;
}

#email {
    display: inline-block;
    border: 2px solid #F4F6FB;
    border-radius: 50px;
    background: white;
    margin-left: 10px;
    outline: none;
    height: 35px;
    font-size: 13px;
    padding: 15px;
    width: 260px;
}

input[type="submit"] {
    width: 0;
    visibility: hidden;
}

.fa-plus, .fa-times {
    font-size: 18px;
    vertical-align: middle;
    color: #9FA6B6;
}

.fa-plus:hover, .fa-times:hover {
    color: #828A9D;
    cursor: pointer;
}

.fa-plus.join-disabled:hover {
    color: #9FA6B6 !important;
    cursor: default !important;
}

.fa-times {
    visibility: hidden;
    font-size: 22px;
}

.join-event-container { display: inline-block; }

.validation-error {
    display: block;
    margin-left: 20px;
    font-size: 11px;
}

.validation-error i { color: #f95752; }

.participant-email-li {
    font-size: 26px;
    padding-left: 0;
}

.participant-email-li span { font-size: 14px; }

.participant-email-li:hover { cursor: pointer; }

.participant-email-li:hover .fa-times { visibility: visible; }

.remove-participant-form, .remove-participant-submit {
    display: inline;
    height: 0;
    visibility: hidden;
}

#event-info { display: table-cell; }

#event-calendar {
    display: table-cell;
    width: 260px;
}

#event-date {
    margin-top: 20px;
    background: #f95752;
    border-radius: 16px;
    height: 60px;
    padding: 15px 8px;
}

#event-date span, #event-date i {
    color: white;
    vertical-align: middle;
    margin: 0 3px;
}

#event-date i {
    font-size: 30px;
    opacity: 0.7;
}

.event-title {
    font-size: 24px;
    margin-bottom: 20px;
}

p { margin-top: 20px; }

.participants-container { margin-top: 20px; }

#icons-container {
    padding: 25px 50px;
    font-size: 26px;
    color: #9FA6B6;
}

#icons-container i {
    margin: 0 10px;
    padding: 10px 0px;
}

#icons-container i:hover {
    color: #828A9D;
    cursor: pointer;
}

#edit-buttons-container { padding: 0 16px; }

#edit-buttons-container button {
    border: 0;
    border-radius: 20px;
    background: #D7D9DE;
    margin: 0 auto;
    outline: none;
    display: inline;
    height: 30px;
    color: #656d7f;
    font-size: 13px;
    padding: 0 20px;
    margin: 0 4px;
}

#edit-buttons-container button:hover {
    background-color: #828a9d;
    color: white;
}


.buttons-container {
    height: 200px;
    background-color: white;
    padding: 0 200px;
}

.link-btn-container {
    align-self: center;
    display: inline-block;
    width: 200px;
    margin-top: 50px;
    text-align: center;
    height: 120px;
}

.btn-squares {
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.square {
    border-radius: 3px;
    display: inline-block;
    background: black;
    margin: 2px;
    height: 30px;
    width: 30px;
}

.square-red {
    background: #f95752;
}