.event-display-popup-container { z-index: 200; }

.event-display-popup {
    border: #f65857 solid 1px;
    cursor: default;
    width: 320px;
    background: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.event-display-popup .display-popup-header {
    background: #f65857;
    height: 35px;
}

.event-display-popup .event-date {
    display: inline-block;
    padding: 2px 10px;
    font-size: 11px;
    color: white;
    opacity: 0.9;
}

.event-display-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fcc2c1;
    border: 0;
    height: 4px;
    width: 15px;
}

.event-display-popup .fa-user {
    font-size: 25px;
    margin-left: 5px;
}

.event-display-popup .author-name {
    align-self: flex-start;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 7px;
}

.event-display-popup .fa-users {
    right: 70px;
    position: absolute;
    font-size: 25px;
}

.event-display-popup .participants-count {
    right: 50px;
    position: absolute;
    font-size: 13px;
    margin-top: 3px;
}

.event-display-popup .fa-plus {
    font-size: 20px;
    margin-left: 8px;
    margin-top: 3px;
    color: #888c90
}

.event-display-popup .fa-plus:hover {
    color: #828A9D;
    cursor: pointer;
}

.add-participant-textbox {
    padding: 10px;
    width: 80%;
    height: 30px;
    border-radius: 50px;
    margin-left: 5px;
    border: 1px solid #ebeef7;
}

.event-display-popup .btn-edit-event,
.event-display-popup .btn-cancel-event {
    border-radius: 20px;
    border: 0;
    background: #e65151;
    color: white;
    font-size: 11px;
    height: 16px;
    padding: 1px 6px;
    position: absolute;
    top: 8px;
}

.event-display-popup .btn-edit-event {
    background: #e65151;
    right: 120px;
}

.event-display-popup .btn-cancel-event {
    background: #a05556;
    right: 45px;
}

.event-display-popup .icons-container {
    padding: 5px 47px 0;
    font-size: 26px;
    color: #D7D9DE;
}

.event-display-popup .icons-container i {
    margin: 0 10px;
    padding: 10px 0px;
}

.event-display-popup .icons-container i:hover {
    color: #828A9D;
    cursor: pointer;
}

.event-display-popup .join-event-form {
    display: inline-block;
    overflow: visible;
    white-space: nowrap;
}

.event-display-popup .join-event-form .fa-plus {
    font-size: 18px;
    vertical-align: middle;
    color: #9FA6B6;
}

.event-display-popup .join-event-form .fa-plus:hover {
    color: #828A9D;
    cursor: pointer;
}

.event-display-popup .join-event-form-email {
    display: inline-block;
    border: 2px solid #F4F6FB;
    border-radius: 25px;
    background: white;
    outline: none;
    height: 35px;
    font-size: 13px;
    padding: 15px;
    width: 260px;
    margin: 0;
}

.event-display-popup .join-event-submit {
    width: 0;
    visibility: hidden;
}

.event-display-popup .join-event-container { display: inline-block; }

.event-display-popup .display-popup-body { padding: 0 10px; }