.event-display-popup-container { z-index: 200; }

.event-display-popup {
    border: #f65857 solid 1px;
    cursor: default;
    min-width: 280px;
    background: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.event-display-popup .head {
    background: #f65857;
    height: 35px;
}

.event-display-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.event-display-popup .row-elements {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    height: 17px;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
}


.event-display-popup .fa-user {
    align-self: flex-start;
    font-size: 25px;
    margin-left: 5px;
}

.event-display-popup .author-name {
    align-self: flex-start;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 7px;
}

.event-display-popup .fa-users {
    right: 70px;
    position: absolute;
    font-size: 25px;
}

.event-display-popup .participants-count {
    right: 50px;
    position: absolute;
    font-size: 13px;
    margin-top: 3px;
}

.event-display-popup .fa-plus {
    font-size: 20px;
    margin-left: 8px;
    margin-top: 3px;
    color: #888c90
}

.event-display-popup .fa-plus:hover {
    color: #828A9D;
    cursor: pointer;
}

.audience-name-show { padding-left: 10px; }

.add-participant-textbox {
    padding: 10px;
    width: 80%;
    height: 30px;
    border-radius: 50px;
    margin-left: 5px;
    border: 1px solid #ebeef7;
}

.event-display-popup .event-date { color: white; }

.event-display-popup .close-btn {
    background: #fcc2c1;
    border: 0;
    height: 4px;
    width: 15px;
}

.event-display-popup .btn-edit-event {
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 5px;
    margin-right: 10px;
    align-self: flex-end;
    border-radius: 20px;
    border: 1px solid #e65151;
    background: #e65151;
    color: #FFF;
}

.event-display-popup .btn-cancel-event {
    margin-bottom: auto;
    margin-left: 0;
    margin-top: 5px;
    margin-right: 35px;
    align-self: flex-end;
    border: 1px solid #a05556;
    border-radius: 20px;
    background: #a05556;
    color: #FFF;
    float: right;
}

.event-display-popup .icons-container {
    padding: 5px 80px 0;
    font-size: 26px;
    color: #D7D9DE;
}

.event-display-popup .icons-container i {
    margin: 0 10px;
    padding: 10px 0px;
}

.event-display-popup .icons-container i:hover {
    color: #828A9D;
    cursor: pointer;
}

.event-display-popup .join-event-form {
    display: inline-block;
    overflow: visible;
    white-space: nowrap;
}

.event-display-popup .join-event-form-email {
    display: inline-block;
    border: 2px solid #F4F6FB;
    border-radius: 25px;
    background: white;
    outline: none;
    height: 35px;
    font-size: 13px;
    padding: 15px;
    width: 280px;
    margin: 10px;
}

.event-display-popup .join-event-submit {
    width: 0;
    visibility: hidden;
}

.event-display-popup .join-event-container { display: inline-block; }