body {
    padding: 0;
    margin: 0;
    background-color: #f4f6fb;
    width: 900px;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
header {
    background-color: #ffffff ;
}

.nav-default {
min-width: 1021px !important;
}
.list-header {
    position: relative;
    display: block;
}

.panel-footer {
  background-color: #F4F6FB;
  border-top: 1px solid #D4D9E4;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

  .right {
    right: 0;
    left: auto;
  }


.logo-container {
    border-bottom: 1px solid #a4abc0;
    padding: 20px 5px;
    margin: 5px auto;
    width: 162px;
}

.logo-nav-container {
   padding: 5px 5px;
   margin: 5px auto;
}

.divMap {
    background-color: #F4F6FB;
    text-align: center;
    margin: 5px auto;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #F4F6FB;
  border-bottom: 10px solid #F96C68;
    
}

.nav > li.disabled > a {
  color: #999999;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.room {
    position: relative;
    background-color: #D7D9DE !important;
}
.room-active{
    position: relative;
    background-color: #F96C68;
    z-index:  1;
}
.room-avalible{
    position: relative;
    background-color: #9FA6B6 ;
    z-index:  1;
}

.room-div{
    position: relative;
    background-color: #9FA6B6;
    margin: auto;
    vertical-align: middle;
}




