#new-event-popup {
    height: 450px;
    width: 500px;
    border: 1px solid #9fa6b6;
    background: #FFF;
}

#new-event-popup .header {
    background: #9fa6b6;
    width: 100%;
    height: 50px;
    display: inline-block;
    color: #FFF;
    list-style-type: none;
    padding-top: 5px;
}

#new-event-popup #btn-close {
    position: relative;
    top: 2px;
    left: 280px;
    float: right;
}

#new-event-popup .ul { list-style-type: none; }

#new-event-popup .select-style {
    padding: 0;
    margin-left: 20px;
    border: 1px solid #ebeef7;
    width: 190px;
    padding-left: 10px;
    height: 30px;
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    
    background: #fff
}

#new-event-popup .input-style {
    padding: 10px;
    width: 95%;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #ebeef7;
}

#new-event-popup .input-style-org {
    padding: 10px;
    width: 250px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #ebeef7;
    margin-top: 5px;
}

#new-event-popup .textarea {
    width: 95%;
    border-radius: 20px;
    border: 1px solid #ebeef7;
    height: 100px;
    resize: none;
    padding: 10px;
}

#new-event-popup .line {
    padding-left: 20px;
    padding-top: 10px;
}

#new-event-popup .line-inline {
    display: inline-block;
    padding-left: 20px;
    padding-top: 10px;
}

#new-event-popup .checkboxWhite {
    width: 25px;
    position: relative;
}

#new-event-popup .checkboxWhite input[type="checkbox"]{
    visibility: hidden;
}
#new-event-popup .checkboxWhite label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ebeef7;
}

#new-event-popup .checkboxWhite label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 20px;
    height: 10px;
    background: transparent;
    top: 5px;
    left: 2px;
    border: 5px solid #c4c5c7;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}
    #new-event-popup .checkboxWhite #IsAuthorShown:checked ~ [for="IsAuthorShown"]:after { opacity: 1;}
    #new-event-popup .checkboxWhite #IsJoinAvailable:checked ~ [for="IsJoinAvailable"]:after { opacity: 1;}

#new-event-popup #checkboxRed { display: none; }

#new-event-popup [for="checkboxRed"] {
    position: relative;
    display: block;
    width: 50px;
    height: 10px;
    padding: 15px;
    border-radius: 50px;
    line-height: 10px;
    color: #f95752;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
    background: #FFF;
    box-shadow:
              0 1px 0 #f95752,
              inset 0 0 0 1px #f95752,
              inset 0 1px 1px #f95752,
              inset 0 -1px 1px #f95752;
    cursor: pointer;
}

#new-event-popup [for="checkboxRed"]:before {
    position: absolute;
    right: 15px;
    color: #000;
}

#new-event-popup [for="checkboxRed"]:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #f95752;
    transition: .5s;
}

#new-event-popup #checkboxRed:checked ~ [for="checkboxRed"]:after { left: 20px; }

#new-event-popup #td-style { padding-right: 10px; }

#new-event-popup .private { color: #afb2bb; }

#new-event-popup .public { color: #f95752; }

#new-event-popup #calendar-icon {
    margin-left: 20px;
    font-size: 30px !important;
}

#new-event-popup #close-icon {
    font-size: 30px;
    color: #cfd3db;
    margin-left: 190px;
    margin-top: 2px;
    cursor: pointer;
}

#new-event-popup .audience-not-free-message {
    display: inline-block;
    width: 60%;
    height: 40px;
    margin-top: 6px;
    visibility: hidden;
}

#new-event-popup .audience-not-free-message i {
    float: left;
    font-size: 40px;
    opacity: 0.8;
    color: #4A5158;
    margin-right: 8px;
}

#new-event-popup .audience-not-free-message div {
    vertical-align: top;
    font-size: 13px;
    display: inline;
}


#new-event-popup .btnCreate {
    margin-top: 5px;
    background: #f95752;
    display: inline-block;
    float: right;
    min-width: 150px;
    height: 34px;
    border: 0 none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 12px;
    color: white;
}

#new-event-popup .bottom-container {
    height: 40px;
    margin: 10px 20px;
}