#room-map-container {
    position: relative;
    padding-bottom: 30px;
}

.room {
    position: absolute;
    z-index: 1;
    text-align: center;
    padding: 4px;
}

.room-title-vertical {
    transform: rotate(90deg);
    margin-left: -50%;
    transform-origin: center center;
}

.room-active { background-color: #F95752 !important; }

.room-available { background-color: #9FA6B6; }

.room-not-available { background-color: #D7D9DE; }

#room-map-container .map-background-image {
    z-index: 15;
    position: relative;
}

.room-title {
    display: inline-block;
    vertical-align: middle;
    border-color: #ffffff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.room-proxy {
    position: absolute;
    background-color: transparent;
    z-index: 90;
    cursor: pointer;
}

.hr-office-pos {
    left: 186px;
    top: 110px;
    height: 99px;
    width: 225px;
    line-height: 99px;
}

.einstein-classroom-pos {
    left: 414px;
    top: 110px;
    height: 99px;
    width: 184px;
    line-height: 99px;
}

.info-center-pos {
    left: 600px;
    top: 110px;
    height: 98px;
    width: 86px;
    line-height: 98px;
}

.web-and-marketing-1-pos {
    left: 688px;
    top: 110px;
    height: 93px;
    width: 98px;
    line-height: 93px;
}

.web-and-marketing-2-pos {
    left: 789px;
    top: 110px;
    height: 98px;
    width: 91px;
    line-height: 98px;
}

.web-and-marketing-3-pos {
    left: 883px;
    top: 110px;
    height: 98px;
    width: 89px;
    line-height: 98px;
}

.english-room-pos {
    left: 974px;
    top: 110px;
    height: 143px;
    width: 40px;
    line-height: 143px;
}

.tesla-classroom-pos {
    left: 313px;
    top: 250px;
    height: 94px;
    width: 188px;
    line-height: 94px;
}

.newton-classroom-pos {
    left: 503px;
    top: 250px;
    height: 94px;
    width: 188px;
    line-height: 94px;
}

.empty-room-pos {
    left: 14px;
    top: 110px;
    height: 95px;
    width: 165px;
    line-height: 95px;
}

.room-available.room-proxy-hover { background-color: #828A9D; }

.room-active.room-proxy-hover { background-color: #E94944 !important; }