#schedule-table {
    display: table;
    padding: 10px 0 50px 0;
}

#schedule-rooms-column, #schedule-contents-table {
    float: left;
    display: inline-table;
    margin: 0;
    padding: 0;
}

#schedule-table th, #schedule-table td {
    width: 140px;
    min-width: 140px;
    border-color: #ebedf9;
    border-style: solid;
    border-width: 2px;
}

#schedule-contents-table th, #schedule-contents-table td { border-left-width: 0; }

#schedule-table th {
    text-align: center;
    font-weight: normal;
    height: 30px;
    color: #adb2d4;
}

#schedule-table td {
    height: 50px;
    padding-left: 10px;
}

#schedule-table tr { margin: 0; }

#schedule-viewport {
    margin-top: -20px;
    padding-top: 20px;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    overflow: visible;
    display: inline;
    height: auto;
}

#schedule-rooms-column th, #schedule-rooms-column td {
    min-width: 110px !important;
    width: 110px !important;
}

.schedule-slider {
    position: absolute;
    height: 100%;
    width: auto;
    width: 2px;
}

#slider-now { background-color: #9fa6b6; }

#slider-draggable { background-color: black; }

#slider-draggable:hover { cursor: w-resize; }

.schedule-slider-top, .schedule-slider-bottom {
    position: absolute;
    left: -6px;
}

.schedule-slider-top { top: -8px; }

.schedule-slider-bottom { bottom: -8px; }

.slider-caption {
    position: absolute;
    font-size: 12px;
}

#slider-now .slider-caption {
    left: -20px;
    bottom: -40px;
}

#slider-draggable .slider-caption {
    left: -14px;
    bottom: -25px;
}

#schedule-viewport-outer {
    margin-top: -15px;
    padding-top: 15px;
    margin-bottom: -50px;
    padding-bottom: 50px;
    position: relative;
    overflow-x: hidden;
    width: 600px;
}