body { padding: 50px 0 0 0; }

html, body {
    min-height: 100%;
    margin: 0;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

.page-container {
    width: 1021px;
    margin: 0 auto;
}

.navbar { background-color: #ffffff; }



header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1030;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #F4F6FB;
    border-top: 1px solid #D4D9E4;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0;
}


.logo-container {
    border-bottom: 1px solid #a4abc0;
    padding: 20px 5px;
    margin: 5px auto;
    width: 162px;
}

.logo-nav-container {
    padding: 5px 5px;
    margin: 5px auto;
}


.navb > li:first-child { float: left; }

.navb > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

.navb > li { float: right; }

.navb > li > a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navb > li > a:hover { color: #F95752; }

#navb .active {
    background-color: #F4F6FB;
    border-bottom: 3px solid #F95752;
}

#page-wrapper {
    min-height: 100%;
    position: relative;
}

#page-content {
    height: 100%;
    min-height: 100%;
}

#btn-new-event-popup {
    font-size: 41px;
    margin: 5px 15px;
    color: #9FA6B6;
}

#btn-new-event-popup:hover {
    color: #F95752;
    cursor: pointer;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(Images/check_btn_sheet.png) left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"] + label { font-weight: normal; }

input[type="checkbox"]:checked + label span { background: url(Images/check_btn_sheet.png) -31px top no-repeat; }

.red-toggle {
    display: inline-block;
}

.red-toggle input[type="checkbox"].red-toggle-input + label .red-toggle-container {
    width: 46px;
    height: 26px;
    background: url(Images/red-toggle-container.png) left top no-repeat;
}

.red-toggle input[type="checkbox"].red-toggle-input + label .red-toggle-circle {
    padding-top: 2px;
    width: 46px;
    height: 26px;
    background: url(Images/red-toggle-circle.png) left top 2px no-repeat;
    animation-duration: 0.5s;
    animation-name: red-toggle-slide-back;
    margin-left: 0;
}

.red-toggle input[type="checkbox"].red-toggle-input:checked + label .red-toggle-circle {
    animation-duration: 0.5s;
    animation-name: red-toggle-slide;
    margin-left: 22px;
}

.red-toggle .red-toggle-checked {
    color: #f95752;
}

.red-toggle .red-toggle-not-checked {
    color: #afb2bb;
}

@keyframes red-toggle-slide {
    from { margin-left: 0; }

    to { margin-left: 22px; }
}

@keyframes red-toggle-slide-back {
    from { margin-left: 22px; }

    to { margin-left: 0; }
}