.admin{
    background-color: #F95752;
    color: white;
    border-radius: 15px;
    margin: 2px auto;
    padding: 2px 5px;
    width: 55px;
    display: inline-block;
    text-align: center;
}


tbody tr:hover{
    background-color:#F4F6FB;
    cursor: pointer;
}


tbody tr td:last-child:hover{   
    text-decoration-color: red; 
    color: red;
    visibility: visible;
}


.profile-input-edit {
    border: 2px ;
    border-radius: 50px;
    background: white;
    margin: 0px auto;
    outline: none;
    height: 35px;
    color: #656d7f;
    font-size: 13px;
    padding: 15px;
    width: 85%;
}

.profile-input{
    border: 3px solid #f5f6fb;
    border-radius: 20px;
    background: white;
    margin: 0px auto;
    outline: none;
    height: 40px;
    color: #656d7f;
    font-size: 13px;
    float: right;
    display: inline-block ;
}


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #f95752;
  border-color: #f95752;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}
